In [23]:
import numpy as np
import pandas as pd

In [24]:
data = pd.read_csv('data.csv')
data.isna().sum()

Summary                     29
Precip Type                 49
Temperature (C)             30
Apparent Temperature (C)    25
Humidity                    27
Wind Speed (km/h)           34
Wind Bearing (degrees)      28
Visibility (km)             36
Pressure (millibars)        26
dtype: int64

In [25]:
#fillna() is function use to replace data where is null. We can set value where is null data
bool_na = data['Humidity'].isna()
print(data['Humidity'].loc[bool_na])

209    NaN
303    NaN
318    NaN
350    NaN
621    NaN
771    NaN
800    NaN
862    NaN
905    NaN
988    NaN
994    NaN
1062   NaN
1101   NaN
1206   NaN
1244   NaN
1304   NaN
1478   NaN
1509   NaN
1516   NaN
1772   NaN
1785   NaN
1821   NaN
1826   NaN
1870   NaN
1874   NaN
1918   NaN
1937   NaN
Name: Humidity, dtype: float64

In [26]:
data['Humidity'].fillna(0.9,inplace = True)

In [27]:
print(data['Humidity'].loc[bool_na])

209     0.9
303     0.9
318     0.9
350     0.9
621     0.9
771     0.9
800     0.9
862     0.9
905     0.9
988     0.9
994     0.9
1062    0.9
1101    0.9
1206    0.9
1244    0.9
1304    0.9
1478    0.9
1509    0.9
1516    0.9
1772    0.9
1785    0.9
1821    0.9
1826    0.9
1870    0.9
1874    0.9
1918    0.9
1937    0.9
Name: Humidity, dtype: float64

In [29]:
bool_nan = data['Summary'].isna()
print(data['Summary'].loc[bool_nan])

9       NaN
247     NaN
308     NaN
415     NaN
442     NaN
536     NaN
570     NaN
667     NaN
713     NaN
776     NaN
804     NaN
879     NaN
952     NaN
1069    NaN
1101    NaN
1149    NaN
1198    NaN
1275    NaN
1319    NaN
1355    NaN
1424    NaN
1437    NaN
1494    NaN
1567    NaN
1640    NaN
1708    NaN
1733    NaN
1812    NaN
1907    NaN
Name: Summary, dtype: object

In [30]:
data['Summary'].fillna('Not Available',inplace = True)
print(data['Summary'].loc[bool_nan])

9       Not Available
247     Not Available
308     Not Available
415     Not Available
442     Not Available
536     Not Available
570     Not Available
667     Not Available
713     Not Available
776     Not Available
804     Not Available
879     Not Available
952     Not Available
1069    Not Available
1101    Not Available
1149    Not Available
1198    Not Available
1275    Not Available
1319    Not Available
1355    Not Available
1424    Not Available
1437    Not Available
1494    Not Available
1567    Not Available
1640    Not Available
1708    Not Available
1733    Not Available
1812    Not Available
1907    Not Available
Name: Summary, dtype: object

In [32]:
windspeed_data = data['Wind Speed (km/h)'].median()
print(windspeed_data)

9.7244

In [33]:
data['Wind Speed (km/h)'].fillna(windspeed_data,inplace = True)
print(data['Wind Speed (km/h)'])

0       25.9210
1       14.5866
2        9.7244
3        3.5259
4       17.1465
         ...
1941    10.6582
1942     6.2307
1943    11.2700
1944     5.1359
1945     3.2039
Name: Wind Speed (km/h), Length: 1946, dtype: float64

In [34]:
pressure_data = data['Pressure (millibars)'].mean()
data['Pressure (millibars)'].fillna(pressure_data,inplace = True)
print(data['Pressure (millibars)'])

0       1025.18
1       1014.90
2       1009.30
3       1017.32
4       1014.97
         ...
1941    1018.69
1942    1009.55
1943    1012.30
1944    1014.63
1945    1008.77
Name: Pressure (millibars), Length: 1946, dtype: float64

In [35]:
precip_data = data['Precip Type'].mode()
print(precip_data)

0    rain
Name: Precip Type, dtype: object

In [36]:
print(precip_data[0])

rain

In [37]:
data['Precip Type'].fillna(precip_data[0],inplace=True)
print(data['Precip Type'])

0       rain
1       rain
2       rain
3       rain
4       rain
        ...
1941    rain
1942    rain
1943    rain
1944    rain
1945    rain
Name: Precip Type, Length: 1946, dtype: object

In [38]:
print(data.shape)

(1946, 9)

In [39]:
#dropna() is function use to delete null data in your data and keep it in new dataframe name is data1

data1 = data.dropna()
print(data1.shape)

(1831, 9)

In [40]:
#dropna(axis=1) is a function use to keep null data that has delete and keep it in new dataframe name is data2
data2 = data.dropna(axis=1)
print(data2.shape)

(1946, 5)